inv
{
	position: absolute;
	overflow: auto;

	left: 10px;
	top: 34%;
	right: 10px;
	bottom: 10px;

	background-color: rgb(174, 148, 64);

	padding: 1ex ;
	text-align: center ;
	border: 3px outset rgb(221 192 125) ;
}

inv>hands
{
	display: block ;
	width: 85% ;
	height: 60% ;

	background: #c7bb8f url(hands.png) ;
	background-size: contain ;
	background-position: center ;
	background-repeat: no-repeat ;

	border: 1px inset rgb(174, 148, 64) ;
	margin: 1ex ;
}

inv>hands>item
{
	display: inline-block;
	width: 33mm ;
	height: 33mm ;

	/* background-color: rgba(255, 255, 255, 0.33); */
	background-size: contain ;
	background-position: center ;
	background-repeat: no-repeat ;
	border: 1px solid rgba(255,255,255,0.66);
}


inv>belt
{
	display: block ;
	width: 85% ;
	height: 23% ;

	background: #50ab49 url(belt.png) ;
	background-size: contain ;
	background-position: center ;
	background-repeat: no-repeat ;
	border: 1px inset #21a750a8;
}

inv>belt>item
{
	display: block;
}

inv .multitool
{
	width: 85%;
	height: 85%;
	
	background-image: url(../imgs/multitool.png) ;
}



inv>seedbag
{
	display: block ;
	width: 50% ;
	height: 50% ;

	background: rgb(112, 186, 114) url(seed_pouch.png) ;
	background-size: contain ;
	background-position: center ;
	background-repeat: no-repeat ;

	border: 1px inset rgb(30, 90, 65) ;
}

inv>seedbag>item
{
	display: inline-block;
	width: 10mm ;
	height: 10mm ;

	background-color: rgba(255, 255, 255, 0.33);
	background-size: contain ;
	background-position: center ;
	background-repeat: no-repeat ;
	border: 1px solid rgba(255,255,255,0.66);
}


inv .cucumber_seeds
{
	background-image: url(../imgs/cucumber_seeds.png) ;
}